<div class="right-region-users-container d-flex">
  <section class="left-region-sidebar">
    {{> admin-tweets-leftbar route='users'}}
  </section>

  <section class="right-region-users-list">
    <h4 class="user-title">推文清單</h4>
    <div class="scroll-container row">
      {{#each users}}
      <div class="user-card col-lg-3 col-sm-6 col">
        <div class="user-card-background mt-3">
          <img class="user-card-cover" src="{{this.cover}}" alt="cover">
          <div class="name-photo">
            <img class="user-card-avatar" src="{{this.avatar}}" alt="avatar">
            <h5 class="name">{{this.name}}</h5>
            <h5 class="account">@{{this.account}}</h5>
          </div>
          <div class="row-actions d-flex justify-content-center">
            <p><img src="../icon/post-gray.png" alt="tweet picture">{{tweetsCount}}</p>
            <p><img src="../icon/unlike.png" alt="like picture">{{likesCount}}</p>
          </div>
          <div class="follow d-flex justify-content-center">
            {{followingsCount}}個<span>跟隨中</span>&nbsp;
            {{followersCount}}個<span>跟隨者</span>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </section>
</div>