<div class="col-2">
  <nav class="leftbar d-flex flex-wrap">
    <div class="col">
      <div class="m-3">
        <a href="/">
          <img class="leftbar-logo" src="/icon/logo.png" alt="logo">
        </a>
      </div>
      <div class="m-3">
        {{#ifCond route 'tweets'}}
          <img class="m-2 leftbar-icon" src="/icon/home.png" alt="home">
        {{else}}
          <img class="m-2 leftbar-icon" src="/icon/home-white.png" alt="home">
        {{/ifCond}}
        <a href="/" class="m-2 text-decoration-none left-text" 
          style="color:{{#ifCond route 'tweets'}}#ff6600{{else}}#44444f{{/ifCond}};">
          首頁
        </a>
      </div>
      <div class="m-3">
        {{#ifCond route 'profile'}}
          <img class="m-2 leftbar-icon" src="/icon/user.png" alt="profile">
        {{else}}
          <img class="m-2 leftbar-icon" src="/icon/user-white.png" alt="profile">
        {{/ifCond}}
        <a class="m-2 text-decoration-none" href="/users/{{user.id}}/tweets" 
          style="color:{{#ifCond route 'profile'}}#ff6600{{else}}#44444f{{/ifCond}};">
          個人資料
        </a>
      </div>
      <div class="m-3">
        {{#ifCond route 'setting'}}
          <img class="m-2 leftbar-icon" src="/icon/setting.png" alt="setting">
        {{else}}
          <img class="m-2 leftbar-icon" src="/icon/setting-white.png" alt="setting">
        {{/ifCond}}
        <a class="m-2 text-decoration-none" href="/users/{{user.id}}/setting"
          style="color:{{#ifCond route 'setting'}}#ff6600{{else}}#44444f{{/ifCond}};">
          設定
        </a>
      </div>

      <div class="mb-4 text-center" data-bs-toggle="modal" data-bs-target="#tweet-modal">
        <button class="col-sm-2 leftbar-tweet-submit" type="submit">
          推文
        </button>
      </div>
      {{> tweets-postTweet}}
    </div>
    <div class="col m-3 logout">
      <img class="m-2 leftbar-icon" src="/icon/logout.png" alt="logout">
      <a class="text-decoration-none" href="/logout">登出</a>
    </div>
  </nav>
</div>
